<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859932569709-rn62vqjrt3dc1q0mu28jk1bbt62i5vha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859932569709-rn62vqjrt3dc1q0mu28jk1bbt62i5vha</string>
	<key>API_KEY</key>
	<string>AIzaSyBjQk4IO2X4UQasEH3vUQ11Wm8N_DKor5E</string>
	<key>GCM_SENDER_ID</key>
	<string>859932569709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.whatsappclone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-e36d4</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-e36d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859932569709:ios:2b7503908055a4c5bc0f64</string>
</dict>
</plist>